/* Font Family Import  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ====== Swiper Slider Style ======  */
:root {
  --swiper-navigation-sides-offset: 200px;
  --swiper-navigation-color: #0ff1f6;
}
/* Swiper Navigation Button  */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  scale: 1.1;
  transition: 150ms;
}

/* Swiper Pagination Bullet  */
.swiper-pagination-bullet {
  background: #91edfc !important;
}

/* Swiper Pagination Bullet Active  */
.swiper-pagination-bullet-active {
  background: #0ff1f6 !important;
}


/* Scrollbar update */
::-webkit-scrollbar {
  width: 6px;
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: rgba(2, 38, 42, 0.8);
  border-radius: 10px;
}
